
<%-include('header')-%>

<header class="site-header js-site-header py-3" style="background-color: #003b95; height: 15%;">
    <nav class="navbar navbar-light " style="background-color: #003b95; height: 50%;">
      <div class="container-fluid">
          <a class="navbar-brand text-light">TravelNest</a>
          <form class="d-flex">
              <a href="" class=" me-2 text-light"></a>
          </form>
          <div class="dropdown">
            
            <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <%= userName ||'User' %>
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item" href="/userManagement">Profile Management</a></li>
              <li><a class="dropdown-item" href="#">Bookings</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>       
      </div>     
  </nav>
    <style>
      .hotel-lists {
        border: 2px solid rgba(49, 52, 53, 0.397);
        border-radius: 5px;
      }
      .col-md-3 {
        border: 2px solid rgba(49, 52, 53, 0.397);
        border-radius: 5px;
      }
    </style>
    <div class="col-md-9">
      <div class="hotel-lists px-5 py-3" >
        <h2>Hotels</h2>        
        <% hotels.forEach((item) => { %> 
        <div class="hotel-items d-flex align-items-start   mt-5 ">
          <div class="div-image pt-3 " style="width: 50%;">
            <img style="height: 100% ;width:100%" src="/static/himages/<%=item.imagesOfHotel[0]%>" alt="Hotel image">

          </div>
          <div class="hotel-items-details mt-3  ">
              
            <h3 class="hotel-items-name"><%=item.hotel_name%></h3>
            <p class="hotel-items-rating"><%=item.star_rating%> stars</p>
            <p class="hotel-items-description"><%=item.description%></p>
            <a href="/hotelDetails<%= item._id %>" class="btn btn-primary">Search Availability</a>
           
          </div>
        </div>
        <% }) %>
      </div>
    </div>

  
  </div>

  </div>
</div>
  
 
  <footer class="section footer-section">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-3 mb-5">
          <ul class="list-unstyled link">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
           <li><a href="#">Rooms</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-5">
          <ul class="list-unstyled link">
            <li><a href="#">The Rooms &amp; Suites</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Restaurant</a></li>
          </ul>
        </div>
        <div class="col-md-3 mb-5 pr-md-5 contact-info">
          <!-- <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li> -->
          <p><span class="d-block"><span class="ion-ios-location h5 mr-3 text-primary"></span>Address:</span> <span> 198 West 21th Street, <br> Suite 721 New York NY 10016</span></p>
          <p><span class="d-block"><span class="ion-ios-telephone h5 mr-3 text-primary"></span>Phone:</span> <span> (+1) 435 3533</span></p>
          <p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-primary"></span>Email:</span> <span> info@domain.com</span></p>
        </div>
        <div class="col-md-3 mb-5">
          <p>Sign up for our newsletter</p>
          <form action="#" class="footer-newsletter">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email...">
              <button type="submit" class="btn"><span class="fa fa-paper-plane"></span></button>
            </div>
          </form>
        </div>
      </div>
      <div class="row pt-5">
        <p class="col-md-6 text-left">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
          
        <p class="col-md-6 text-right social">
          <a href="#"><span class="fa fa-tripadvisor"></span></a>
          <a href="#"><span class="fa fa-facebook"></span></a>
          <a href="#"><span class="fa fa-twitter"></span></a>
          <a href="#"><span class="fa fa-linkedin"></span></a>
          <a href="#"><span class="fa fa-vimeo"></span></a>
        </p>
      </div>
    </div>

    <%-include('footer')-%>